---
import Calendario from '../components/calendario/Calendario.jsx'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Calendario'>
  <main>
    <Calendario client:load />
  </main>
</Layout>
